{% extends 'base_template.html' %}
{% block content %}


<!-- DAILY TASKS SECTION-->
<div class="row">
    <div class="col-8 offset-2">
        <div class="card my-5">
            <div class="row pt-3 pb-3">
                <div class="col-12 col-lg-12 text-center">
                    <h2 class="text-lightblue">Daily Tasks</h2>
                </div>
            </div>
            <form method="POST">
                <div class="row">
                    <div class="pb-3 offset-lg-2 col-lg-4 col-12">
                        <label for="txtDailyWalks">Walks today:</label>
                        <input type="number" class="form-control" id="txtDailyWalks" name="txtDailyWalks">
                    </div>
                    <div class="pb-3 col-lg-4 col-12">
                        <label for="txtDailyFood">Foods & Water today:</label>
                        <input type="number" class="form-control" id="txtDailyFood" name="txtDailyFood">
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-lightblue">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}