{% extends 'base_template.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<!-- DAILY TASKS SECTION-->
<div class="row">
  <div class="col-8 offset-2">
      <div class="card my-5">
          <div class="row pt-3 pb-3">
              <div class="col-12 col-lg-12 text-center">
                  <h2 class="text-brownprimary"><i class="fas fa-tasks"></i> Daily Tasks</h2>
              </div>
          </div>
          {%if user_pets%}
          <form action="#" method="POST"> 
              {% csrf_token%}
              <div class="row">
                <div class="pb-3 col-lg-8 offset-2 col-12">
                  <label for="pet">Select a pet to update their information:</label>
                  <select name="pet" id="pet" class="form-control">
                      <option value="" selected disabled>Select a pet</option>
                      {% for pet in user_pets %}
                          <option value="{{pet.id}}">{{pet.namePet}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                  <div class="pb-3 offset-lg-2 col-lg-4 col-12">
                      <label for="dailyWater">Water today:</label>
                      <input type="number" class="form-control" id="dailyWater" name="dailyWater">
                  </div>
                  <div class="pb-3 col-lg-4 col-12">
                      <label for="dailyFood">Foods today:</label>
                      <input type="number" class="form-control" id="dailyFood" name="dailyFood">
                  </div>
              </div>
              <div class="row">
                  <div class="pb-3 col-lg-8 offset-2 col-12">
                      <label for="dailyWalks">Walks today:</label>
                      <input type="number" class="form-control" id="dailyWalks" name="dailyWalks">
                  </div>
              </div>
              <div class="row pb-3">
                  <div class="col-12 text-center">
                      <button type="submit" class="btn btn-brownprimary">Submit</button>
                  </div>
              </div>
          </form>
          {%else%}
          <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-brown
                primary">You don't have any pets yet</h3>
                <a href="{% url 'pet_register' %}" class="btn btn-brownprimary">Add a pet</a>
            </div>
          </div>
          {% endif %}
      </div>
  </div>
</div>

<!-- DIVISION -->
{% else %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Cat Stories, News, Tips &amp;amp; Tricks, ​Welcome to Club Cat Blog, ​Thinking of getting a cat?, ​Get the greatest stories right in your mailbox">
  <meta name="description" content="">
  <title>base_template</title>
  <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/Home.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/base_template.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen">

</head>

<section class="u-align-right u-clearfix u-image u-section-1" id="carousel_31de" data-image-width="822" data-image-height="818">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-custom-font u-text u-text-custom-color-3 u-text-1">Unconditional love<br>excepcional care 
      </h1>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-container-align-center u-palette-5-light-2 u-section-2" id="carousel_dcf7">
    <h2 class="u-align-center u-text u-text-default-lg u-text-default-xl u-text-1"> Welcome to LASSIE´S CARE</h2>
    <p class="u-align-center u-text u-text-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id esse provident aut?</p>
    <div class="u-expanded-width u-palette-5-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="data-layout-selected u-clearfix u-gutter-26 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-20 u-size-30-md">
            <div class="u-layout-col">
              <div class="u-align-center u-container-style u-layout-cell u-radius-20 u-shape-round u-size-30 u-white u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-1" src="{% static 'images/Esterilizacinocastracin_.jpg' %}" data-image-width="736" data-image-height="805">

                  <h4 class="u-text u-text-default u-text-3">LassieAI </h4>
                  <p class="u-text u-text-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita excepturi doloribus nobis pariatur accusamus adipisci quo odio beatae, dolorem a eveniet velit ipsam, magnam tempora ea sunt labore repudiandae sequi. </p>
                  <a href="#" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-1">more</a>
                </div>
              </div>
              <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
          <div class="u-size-20 u-size-30-md">
            <div class="u-layout-col">
              <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3"></div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-radius-20 u-shape-round u-size-20 u-white u-layout-cell-4">
                <div class="u-container-layout u-container-layout-4">
                  <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-2" src="{% static 'images/CatsAndDogsWithHuman-LikeReactions.jpg' %}" data-image-width="728" data-image-height="890">
                  <h4 class="u-text u-text-default u-text-5">Cat Care</h4>
                  <p class="u-text u-text-6"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus illum cupiditate mollitia vitae nulla molestias similique vero, tempora praesentium ab odio ex accusantium, sint autem eaque! Necessitatibus fuga harum ipsum.</p>
                  <a href="#" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-2">more</a>
                </div>
              </div>
              <div class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-5">
                <div class="u-container-layout u-container-layout-5"></div>
              </div>
            </div>
          </div>
          <div class="u-size-20 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-30 u-layout-cell-6">
                <div class="u-container-layout u-container-layout-6"></div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-radius-20 u-shape-round u-size-30 u-white u-layout-cell-7">
                <div class="u-container-layout u-container-layout-7">
                  <img class="custom-expanded u-image u-image-round u-radius-15 u-image-3" src="{% static 'images/descarga6.jpg'%}" data-image-width="700" data-image-height="700">
                  <h4 class="u-text u-text-default u-text-7"> Pet Guide</h4>
                  <p class="u-text u-text-8"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque consectetur, possimus aliquid, laborum impedit fugit obcaecati illo, nulla quisquam voluptatum consequatur. Eligendi doloribus beatae aperiam assumenda debitis vitae, quaerat delectus.</p>
                  <a href="#" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-3">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-palette-5-light-3 u-section-3" id="sec-5b8c">
    <div class="u-expanded-width u-palette-5-light-2 u-shape u-shape-rectangle u-shape-1"></div>
    <img class="u-image u-image-round u-radius-20 u-image-1" src="{% static 'images/dogscutedogsenglishcreamgoldenretrieveraesthetic_.jpg'%}" alt="" data-image-width="736" data-image-height="981">
    <div class="u-align-left u-container-align-left u-container-style u-group u-palette-5-dark-3 u-radius-20 u-shape-round u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-align-left u-text u-text-1">Having trouble taking care of them?</h2>
      </div>
    </div>
    <div class="u-align-left u-container-align-left u-container-style u-group u-radius-20 u-shape-round u-white u-group-2">
      <div class="u-container-layout u-valign-middle u-container-layout-2">
        <h3 class="u-align-left u-text u-text-2">Ways Lassie can help you </h3>
        <ul class="u-align-left u-text u-text-3">
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
        </ul>
        <a href="#" class="u-active-palette-5-light-1 u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-palette-5-light-1 u-palette-5-base u-radius-20 u-btn-1" target="_blank">read more</a>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-palette-5-light-3 u-section-4" id="carousel_4e59">
    <div class="u-expanded-width u-palette-5-base u-shape u-shape-rectangle u-shape-1"></div>
    <img class="u-image u-image-round u-radius-20 u-image-1" src="{% static 'images/descarga4.jpg'%}" data-image-width="700" data-image-height="1244">
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <h4 class="u-text u-text-palette-5-base u-text-1">Pet Guide</h4>
            <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
            <a href="#" class="u-border-1 u-border-active-palette-5-base u-border-black u-border-hover-palette-5-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-btn-1">more</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
          <div class="u-container-layout u-similar-container u-container-layout-2">
            <h4 class="u-text u-text-palette-5-base u-text-3">Top Tips</h4>
            <p class="u-text u-text-4">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
            <a href="#" class="u-border-1 u-border-active-palette-5-base u-border-black u-border-hover-palette-5-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-btn-2">more</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
          <div class="u-container-layout u-similar-container u-container-layout-3">
            <h4 class="u-text u-text-palette-5-base u-text-5">Best Toys</h4>
            <p class="u-text u-text-6">Sample text. Click to select the text box. <a href="#" class="u-active-none u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Click again</a> or double click to start editing the text.
            </p>
            <a href="#" class="u-border-1 u-border-active-palette-5-base u-border-black u-border-hover-palette-5-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-btn-4">more</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4">
          <div class="u-container-layout u-similar-container u-container-layout-4">
            <h4 class="u-text u-text-palette-5-base u-text-7">BEST Products</h4>
            <p class="u-text u-text-8">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
            <a href="#" class="u-border-1 u-border-active-palette-5-base u-border-black u-border-hover-palette-5-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-btn-5">more</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-5">
          <div class="u-container-layout u-similar-container u-container-layout-5">
            <h4 class="u-text u-text-palette-5-base u-text-9">PET Lovers</h4>
            <p class="u-text u-text-10">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
            <a href="#" class="u-border-1 u-border-active-palette-5-base u-border-black u-border-hover-palette-5-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-btn-6">more</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-6">
          <div class="u-container-layout u-similar-container u-container-layout-6">
            <h4 class="u-text u-text-palette-5-base u-text-11">PET Lovers</h4>
            <p class="u-text u-text-12">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
            <a href="#" class="u-border-1 u-border-active-palette-5-base u-border-black u-border-hover-palette-5-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-btn-7">more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-container-align-center u-palette-5-light-3 u-section-5" id="carousel_0bb8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h3 class="u-align-left u-text u-text-1"> Keeping Pets Happy</h3>
                <p class="u-align-left u-text u-text-2">Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Tempus urna et pharetra pharetra massa massa ultricies mi quis. Ut faucibus pulvinar elementum <a href="#" class="u-active-none u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">integer</a> enim neque volutpat. Augue mauris augue neque gravida in. Venenatis cras sed felis eget velit aliquet sagittis. Morbi leo urna molestie at.</p>
                <a href="#" class="u-active-palette-5-light-1 u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-palette-5-light-1 u-palette-5-base u-radius-20 u-btn-2" target="_blank">read more</a>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                <div class="u-palette-5-light-2 u-shape u-shape-circle u-shape-1"></div>
                <div alt="" class="u-image u-image-circle u-image-1" data-image-width="564" data-image-height="777"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-palette-5-base u-section-6" id="carousel_ce22">
    <div class="u-expanded-width u-palette-5-light-3 u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-align-center-sm u-align-center-xs u-container-style u-group u-radius-30 u-shape-round u-white u-group-1">
      <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
        <h3 class="u-text u-text-default u-text-1"> Need Help?</h3>
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-13 u-form-vertical u-inner-form" style="padding: 0px;" source="email" name="form-2">
            <div class="u-form-group u-form-name">
              <label for="name-da97" class="u-label">Name</label>
              <input type="text" placeholder="Enter your Name" id="name-da97" name="name" class="u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-partition-factor-2 u-form-phone u-form-group-2">
              <label for="phone-10f2" class="u-label">Phone</label>
              <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Enter your phone (e.g. +14155552675)" id="phone-10f2" name="phone" class="u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group u-form-partition-factor-2">
              <label for="email-da97" class="u-label">Email</label>
              <input type="email" placeholder="Enter a valid email address" id="email-da97" name="email" class="u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-submit">
              <a href="#" class="u-active-palette-5-dark-1 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-5-dark-1 u-palette-5-base u-radius-50 u-text-body-alt-color u-btn-1">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="9110c90e-600a-1a4b-c897-b4144c6ecb8d">
          </form>
        </div>
        <p class="u-custom-font u-heading-font u-text u-text-grey-50 u-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur atque dicta fuga, ut veritatis dignissimos. Facere ex totam esse aliquid laudantium, praesentium dolorum, assumenda commodi, voluptatem at magnam quia recusandae!</p>
        <div class="u-social-icons u-spacing-20 u-social-icons-1">
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-facebook u-social-icon u-text-palette-5-base u-icon-1">
                  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-50ee"></use></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-50ee"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg>
                </span>
          </a>
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-twitter u-text-palette-5-base u-icon-2">
                  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-d346"></use></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-d346"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg>
                </span>
          </a>
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-instagram u-text-palette-5-base u-icon-3">
                  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-dd2a"></use></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-dd2a"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg>
                </span>
          </a>
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-google u-social-icon u-text-palette-5-base u-icon-4">
                  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-102d"></use></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-102d"><path d="M62.2,81.6c-8.6,11.2-24.6,14.4-37.6,10C10.9,87,0.8,73.2,1,58.5c-0.8-18,15.2-34.6,33.1-34.9 c9.2-0.8,18.2,2.7,25,8.6c-2.9,3.1-5.7,6.2-8.9,9.2c-6.2-3.8-13.5-6.5-20.6-4C18.1,40.7,11,54.2,15.4,65.6 c3.5,11.8,17.8,18.3,29.2,13.2c5.8-2.1,9.7-7.4,11.3-13.2c-6.6-0.1-13.2,0-20.1-0.3c0-3.9,0-7.9,0-11.9c11.2,0,22.2,0,33.3,0 C69.9,63.4,68.3,73.9,62.2,81.6z M110.9,63.7c-3.4,0-6.6,0-10,0c0,3.4,0,6.6,0,10c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10 c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10c3.4,0,6.6,0,10,0c0-3.4,0-6.6,0.1-10c3.4,0,6.6,0,10,0c0,3.4,0,6.6,0,10c3.4,0,6.6,0,10,0 C110.9,56.9,110.9,60.3,110.9,63.7z"></path></svg>
                </span>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% endblock content %}



<!-- BASURA QUE NO FUNCIONA ENTONCES SAQUE DEL BLOQUE-->


