{% extends 'base_template.html' %}
{% load static %}
{% block content %}

<!-- DAILY TASKS SECTION-->
<div class="row">
  <div class="col-8 offset-2">
      <div class="card my-5">
          <div class="row pt-3 pb-3">
              <div class="col-12 col-lg-12 text-center">
                  <h2 class="text-brownprimary"><i class="fas fa-tasks"></i> Daily Tasks</h2>
              </div>
          </div>
          {%if user_pets%}
          <form action="#" method="POST"> 
              {% csrf_token%}
              <div class="row">
                <div class="pb-3 col-lg-8 offset-lg-2 col-10 offset-1">
                  <label for="pet"><i class="fas fa-paw"></i> Pet:</label>
                  <select name="pet" id="pet" class="form-control">
                      <option value="" selected disabled>Select a pet</option>
                      {% for pet in user_pets %}
                          <option value="{{pet.id}}">{{pet.namePet}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                  <div class="pb-3 offset-lg-2 col-lg-4 col-10 offset-1">
                      <label for="dailyWater"><i class="fas fa-tint"></i> Water:</label>
                      <input type="number" class="form-control" id="dailyWater" name="dailyWater" required>
                  </div>
                  <div class="pb-3 col-lg-4 offset-lg-0 col-10 offset-1">
                      <label for="dailyFood"><i class="fas fa-utensils"></i> Food:</label>
                      <input type="number" class="form-control" id="dailyFood" name="dailyFood" required>
                  </div>
              </div>
              <div class="row">
                  <div class="pb-3 col-lg-8 offset-lg-2 col-10 offset-1">
                      <label for="dailyWalks"><i class="fas fa-walking"></i> Walks:</label>
                      <input type="number" class="form-control" id="dailyWalks" name="dailyWalks" required>
                  </div>
              </div>
              <div class="row pb-3">
                  <div class="col-12 text-center">
                      <button type="submit" class="btn btn-brownprimary">Submit</button>
                  </div>
              </div>
          </form>
          {%else%}
          <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-brown
                primary">You don't have any pets yet</h3>
                <a href="{% url 'pet_register' %}" class="btn btn-brownprimary">Add a pet</a>
            </div>
          </div>
          {% endif %}
      </div>
  </div>
</div>
{% endblock content %}



<!-- BASURA QUE NO FUNCIONA ENTONCES SAQUE DEL BLOQUE-->


