{% extends 'base_template.html' %}
{% block content %}
<div class="row py-5">
    <div class="col-12 col-lg-12 text-center">
        <h2 class="text-brownprimary">Login</h2>
    </div>
</div>
<form action="#" method="POST">
    {% csrf_token %}  <!-- Add CSRF token here -->
    <div class="row">
        <div class="pb-3 offset-lg-4 col-lg-4 col-12">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="pb-3 offset-lg-4 col-lg-4 col-12">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="pb-3 offset-lg-4 col-lg-4 col-12">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="#" class="btn btn-link">Forgot Password?</a>
        </div>
    </div>
</form>
<div class="row">
    <div class="pt-3 offset-lg-4 col-lg-4 col-12">
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</div>
{% endblock content %}