{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{ pet.namePet }}'s Profile</h2>
        </div>
    </div>
    <div class="card mb-5">
        <div class="row g-lg-0">
            <div class="col-lg-4 col-12">
                <img src="{{ pet_image }}" class="card-img-top pet-card-img" alt="...">
            </div>
            <div class="col-lg-8 col-12">
                <div class="card-body">
                    <h3 class="card-title">{{ pet.namePet }}</h3>
                    <p class="card-text">Breed: {{ pet.breed.name }}</p>
                    <p class="card-text">Age: {{ pet.age }}</p>
                    <p class="card-text">Weight: {{ pet.weight }} lbs</p>
                    <p class="card-text">Size: {{ pet.size }}</p>
                    <p class="card-text">Medical Conditions:</p>
                    <p>{{ pet_image }}</p>
                    <p class="card-text">Allergies:{{pet.allergies}}</p>
                    <p class="card-text">Medical History: <a href="{{ pet.medicalHistory }}" class="btn btn-primary" target="_blank">View <i class="fas fa-file-medical"></i></a></p>
                    <a href="/pet/{{pet.id}}/edit" class="btn btn-brownprimary">Edit <i class="fas fa-edit"></i></a>
                    <a href="/pet/{{pet.id}}/delete" class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></a>
                    <a href="/pets" class="btn btn-brownprimary">Back <i class="fas fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}