{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-brownprimary">New Pet</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="text-brownprimary">Choose your pet type:</h3>
        </div>
    </div>
    <form id="pet-type-selection-form" method="POST">
        <!-- Include CSRF token for security -->
        {% csrf_token %}
        <div class="row mb-5 pb-5">
            <div class="col-6 text-center col-lg-3 offset-lg-2">
                <label class="pet-type-image-wrapper">
                    <input type="radio" name="petType" id="petType" value="D" onchange="this.form.submit()">
                    <img src="{% static 'images/DOG_DEFAULT.png' %}" alt="Dog">
                    <div class="overlay rounded">Select</div>
                </label>
            </div>
            <div class="col-6 text-center col-lg-3 offset-lg-2">
                <label class="pet-type-image-wrapper">
                    <input type="radio" name="petType" id="petType" value="C" onchange="this.form.submit()">
                    <img src="{% static 'images/CAT_DEFAULT.png' %}" alt="Cat">
                    <div class="overlay rounded">Select</div>
                </label>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
