{% extends 'base_template.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>My Pets</h2>
        </div>
    </div>
    <div class="row">
        {% for pet in pets %}
            <div class="col-12 col-lg-4 pb-3">
                <div class="card card-dark">
                    <img src="{{ pet.petImage.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">{{ pet.namePet }}</h3>
                        <h6 class="card-text">{{ pet.breed }}</h6>
                        <h6 class="card-text">{{ pet.age }}y/o</h6>
                        <a href="{% url 'pet' pet.id %}" class="btn btn-brownprimary">View Profile</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock content %}