{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>My Pets</h2>
        </div>
    </div>
    {% if pets.count == 0 %}
        <div class="row">
            <div class="card text-bg-dark">
                <img src="{% static 'images/2p1g.png' %}" class="card-img no-pets-img" alt="...">
                <div class="card-img-overlay text-center py-5">
                    <h3 class="card-title">No pet profiles found</h3>
                    <p class="card-text">You have not added any pet profiles yet.</p>
                    <a href="{% url 'pet_new' %}" class="btn btn-brownprimary">Add Pet</a>
                </div>
              </div>
        </div>
    {% else %}
    <div class="row">
        {% for pet in pets %}
            <div class="col-12 col-lg-4 pb-3">
                <div class="card card-dark">
                    <img src="{% if pet.petImage != 'static/images/DOG_DEFAULT.png' and pet.petImage != 'static/images/CAT_DEFAULT.png' %}{{pet.petImage.url}}{% else %}{{pet.petImage}}{% endif %}" class="card-img-top pet-card-img" alt="...">
                    <div class="card-body pet-card-desc">
                        <h3 class="card-title">{{ pet.namePet }}</h3>
                        <h6 class="card-text">{{ pet.breed }}</h6>
                        <h6 class="card-text">{{ pet.age }}y/o</h6>
                        <a href="{% url 'pet' pet.id %}" class="btn btn-brownprimary">View Profile</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12 text-center my-5">
            <a href="{% url 'pet_new' %}" class="btn btn-brownprimary">Add Pet</a>
        </div>
    </div>
</div>


{% endblock content %}