{% extends 'base_template.html' %}
{% block content %}
<div class="row py-5">
    <div class="col-12 col-lg-11 offset-lg-1">
        <h2 class="text-brownprimary">Register</h2>
    </div>
</div>
<form action="#" method="POST">
    {% csrf_token %}  <!-- Add CSRF token here -->
    <div class="row">
        <div class="pb-3 offset-lg-2 col-lg-4 col-12">
            <label for="txtFirstName">First Name:</label>
            <input type="text" id="txtFirstName" name="txtFirstName" class="form-control" required>
        </div>
        <div class="pb-3 col-lg-4 col-12">
            <label for="txtLastName">Last Name:</label>
            <input type="text" id="txtLastName" name="txtLastName" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="pb-3 offset-lg-2 col-lg-4 col-12">
            <label for="txtAddress">Address:</label>
            <input type="text" id="txtAddress" name="txtAddress" class="form-control" required>
        </div>
        <div class="pb-3 col-lg-4 col-12">
            <label for="txtPhone">Phone:</label>
            <input type="tel" id="txtPhone" name="txtPhone" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="pb-3 offset-lg-2 col-lg-4 col-12">
            <label for="selGender">Gender:</label>
            <select id="selGender" name="selGender" class="form-control" required>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
            </select>
        </div>
        <div class="pb-3 col-lg-4 col-12">
            <label for="txtBirthDate">Birth Date:</label>
            <input type="date" id="txtBirthDate" name="txtBirthDate" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="pb-3 offset-lg-2 col-lg-4 col-12">
            <label for="txtEmail">Email:</label>
            <input type="email" id="txtEmail" name="txtEmail" class="form-control" required>
        </div>
        <div class="pb-3 col-lg-4 col-12">
            <label for="txtUsername">Username:</label>
            <input type="text" id="txtUsername" name="txtUsername" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="pb-3 offset-lg-2 col-lg-4 col-12">
            <label for="txtPassword">Password:</label>
            <input type="password" id="txtPassword" name="txtPassword" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-brownprimary">Register</button>
        </div>
    </div>
</form>
{% endblock content %}
